.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Orbitron&display=swap');


img {
  width: 500px;
  padding: 3rem;
}
h1 {
  font-size: 100px;
  font-family: 'Crimson Pro', serif;
}